 <% if user_signed_in? %>
  <div class="jumbotron bg-light jumbotron-fluid text-center">
    <h3>Welcome <%= current_user.name %> !!!</h3>
  </div>
   <div class="container">
    <div class="row my-3">
      <%# Worker module %>
      <div class="col-md-12 col-lg-4 pb-3">
          <div class="card text-center bg-success">
              <div class="card-header text-white">
                  <h4 class="card-title">Workers</h4>
                  <h2><i class="fas fa-users fa-3x"></i></h2>
              </div>
              <div class="row p-2 no-gutters">
                  <div class="col-6">
                    <%= link_to new_worker_path do %>
                      <div class="card card-block text-dark rounded-0 border-left-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-plus-square fa-3x"></i></h6>
                          <span class="small text-uppercase">Add</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6">
                    <%= link_to workers_path do %>
                      <div class="card card-block text-dark rounded-0 border-right-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-list-ol fa-3x"></i></h6>
                          <span class="small text-uppercase">List</span>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>

      <%# Projects Module %>
      <div class="col-md-12 col-lg-4 pb-3">
          <div class="card text-center bg-info">
              <div class="card-header text-white">
                  <h4 class="card-title">Projects</h4>
                  <h2><i class="fas fa-building fa-3x"></i></h2>
              </div>
              <div class="row p-2 no-gutters">
                  <div class="col-6">
                    <%= link_to new_project_path do %>
                      <div class="card card-block text-dark rounded-0 border-left-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-plus-square fa-3x"></i></h6>
                          <span class="small text-uppercase">Add</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6">
                    <%= link_to projects_path do %>
                      <div class="card card-block text-dark rounded-0 border-right-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-list-ol fa-3x"></i></h6>
                          <span class="small text-uppercase">List</span>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>

      <%# Clients Module %>
      <div class="col-md-12 col-lg-4 pb-3">
          <div class="card text-center bg-warning">
              <div class="card-header text-white">
                  <h4 class="card-title">Clients</h4>
                  <h2><i class="fas fa-user-tie fa-3x"></i></h2>
              </div>
              <div class="row p-2 no-gutters">
                  <div class="col-6">
                    <%= link_to new_client_path do %>
                      <div class="card card-block text-dark rounded-0 border-left-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-plus-square fa-3x"></i></h6>
                          <span class="small text-uppercase">Add</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6">
                    <%= link_to clients_path do %>
                      <div class="card card-block text-dark rounded-0 border-right-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-list-ol fa-3x"></i></h6>
                          <span class="small text-uppercase">List</span>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>

       <%# Bills Module %>
      <div class="col-md-12 col-lg-4 pb-3" >
          <div class="card text-center bg-dark">
              <div class="card-header text-white">
                  <h4 class="card-title">Bills</h4>
                  <h2><i class="fas fa-receipt fa-3x"></i></h2>
              </div>
              <div class="row p-2 no-gutters">
                  <div class="col-6">
                    <%= link_to new_bill_path do %>
                      <div class="card card-block text-dark rounded-0 border-left-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-plus-square fa-3x"></i></h6>
                          <span class="small text-uppercase">Add</span>
                      </div>
                    <% end %>
                  </div>
                  <div class="col-6">
                    <%= link_to bills_path do %>
                      <div class="card card-block text-dark rounded-0 border-right-0 border-top-o border-bottom-0">
                          <h6><i class="fas fa-list-ol fa-3x"></i></h6>
                          <span class="small text-uppercase">List</span>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>

    </div>
</div>

<% else %>
   <h2> Welcome , Please Login </h2>
   <%= link_to "Login", new_user_session_path, class: "nav-link" %>
<% end %>


