<% provide(:title, "Log in") %>
<div class="col-md-6 col-sm-12 offset-md-3">
  <span class="anchor" id="formLogin"></span>
  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">

      <div class="card-header">
          <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
          <%= form_for(:session, url: login_path) do |f| %>
            <div class='form-group'>
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
              <div class="invalid-feedback">Please enter your username or email</div>
            </div>

            <div class='form-group'>
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              <div class="invalid-feedback">Please enter a password</div>
            </div>

            <%= f.submit "Log in", class: "btn btn-success btn-lg float-right" %>
          <% end %>
      </div>
      <!--/card-body-->
  </div>
  <!-- /form card login -->
</div>