<div class='form-group'>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <div class="invalid-feedback">name</div>
</div>

<div class='form-group'>
  <%= f.label :phone %>
  <%= f.text_field :phone, class: 'form-control' %>
  <div class="invalid-feedback">phone</div>
</div>

<div class='form-group'>
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form-control' %>
  <div class="invalid-feedback">address</div>
</div>