<h2><%= @client.name %> Bill Summary</h2>
<p>Summerise your bills here .</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#all-bills">All Bills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pending-bills">Pending Bills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#paid-bills">Paid Bills</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane container active" id="all-bills">
    <%= render 'bills/bills_info', bills: @bills, layout: '' %>
  </div>

  <div class="tab-pane container fade" id="pending-bills">
    <%= render 'bills/bills_info', bills: @pending_bills, layout: '' %>
  </div>

  <div class="tab-pane container fade" id="paid-bills">
    <%= render 'bills/bills_info', bills: @paid_bills,  layout: '' %>
  </div>
</div>