<div class="jumbotron bg-light jumbotron-fluid text-center">
  <h3>Clients</h3>
</div>
<div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">
  <% @clients.each_with_index do |client, i| %>
    <%= link_to 'Edit', edit_client_path(client), class: 'btn btn-outline-success btn-sm' %>
    <%= link_to 'Delete', client_path(client), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },
                         class: 'btn btn-outline-danger btn-sm' %>
    <%= link_to 'View Bills', client_bills_path(client), class: 'btn btn-outline-success btn-sm' %>
    <button class="Accordion" role="tab" aria-selected="false"><%= client.name %></button>
    <div class="Rtable-cell  Rtable-cell--head"><h3><%= client.try(:phone) %></h3></div>
    <p class="Rtable-cell"><%= client.try(:address) %></p>
  <% end %>
</div>