<% if bills.any? %>
  <% if layout == 'table' %>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Bill No</th>
          <th>Title</th>
          <th>Date</th>
          <th>Total Payable</th>
          <th>Paid Amount</th>
          <th>Balance Amount</th>
        </tr>
      </thead>
      
      <tbody>
        <% bills.each_with_index do  |bill| %>
          <tr>
            <td><%= bill.number %></td>
            <td><%= bill.title %></td>
            <td><%= format_date(bill.issued_at) %></td>
            <td><%= bill.total_payable %></td>
            <td><%= bill.paid_amount %></td>
            <td><%= bill.balance_amount %></td>
          </tr>   
        <% end %>   
      </tbody>

      <tfooter>
        <tr>
          <th>Sum</th>
          <th></th>
          <th></th>
          <th><%= bill_sum_by(bills, 'total_payable') %></th>
          <th><%= bill_sum_by(bills, 'paid_amount') %></th>
          <th><%= bill_sum_by(bills, 'balance_amount') %></th>
        </tr>
      </tfooter>
    </table>
  <% else %>
    <div class="jumbotron bg-light jumbotron-fluid text-center">
      <h3>Total Bill Amount   : <%= bill_sum_by(bills, 'total_payable') %></h3>
      <h3>Total Paid Amount   : <%= bill_sum_by(bills, 'paid_amount') %></h3>
      <h3>Total Balance Amount: <%= bill_sum_by(bills, 'balance_amount') %></h3>
    </div>
    <div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">
      <% bills.each_with_index do |bill, i| %>
        <button class="Accordion" role="tab" aria-selected="false">
          <%= bill.number + " - Total: " + bill.total_payable + ' - Paid: ' +  bill.paid_amount + " - Balance: " +  bill.balance_amount %>
        </button>
        <div class="Rtable-cell  Rtable-cell--head"><h3> <%= bill.title %></h3></div>
        <div class="Rtable-cell  Rtable-cell--head"><h3>Project Name : <%= bill.project.name %></h3></div>
        <div class="Rtable-cell"><h3>Client Name : <%= bill.client.name %></h3></div>
        <div class="Rtable-cell"><h3>Labour Charge : <%= bill.labour_charge %></h3></div>
        <div class="Rtable-cell"><h3>Material Charge : <%= bill.material_charge %></h3></div>
        <div class="Rtable-cell"><h3>Total Payable : <%= bill.total_payable %></h3></div>
        <div class="Rtable-cell"><h3>Paid Amount: <%= bill.paid_amount %></h3></div>
        <div class="Rtable-cell"><h3>Balance Amount: <%= bill.balance_amount %></h3></div>
        <div class="Rtable-cell"><h3>Issued On: <%= bill.issued_at %></h3></div>

        <div class="Rtable-cell">
          <% if bill.worker_entries.any? %>
            <span class="badge badge-pill badge-success">Workers</span>
            <% bill.worker_entries.each_with_index do |entry, i| %>
              <h3> <%= entry.worker.name %> - <%= entry.worked_hours || 0 %> hrs</h3>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="jumbotron bg-light jumbotron-fluid text-center">
    <h3>There is no bills in this category</h3>
  </div>
<% end %>