
<div class='form-group'>
  <%= f.label :project_id %>
  <%= f.collection_select(:project_id, Project.all, :id, :name, {}, { class: 'form-control'} ) %>
  <div class="invalid-feedback">project_id</div>
</div>


<div class='form-group'>
  <%= f.label :client_id %>
  <%= f.collection_select(:client_id, Client.all, :id, :name, {}, { class: 'form-control'}) %>
  <div class="invalid-feedback">client_id</div>
</div>

<div class='form-group'>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <div class="invalid-feedback">name</div>
</div>

<div class='row'>  
  <div class='form-group col-md-4'>
    <%= f.label :labour_charge %>
    <%= f.text_field :labour_charge, class: 'form-control', id: 'labour-charge', type: 'number' %>
    <div class="invalid-feedback">labour_charge</div>
  </div>

  <div class='form-group col-md-4'>
    <%= f.label :material_charge %>
    <%= f.text_field :material_charge, class: 'form-control', id: 'material-charge', type: 'number' %>
    <div class="invalid-feedback">material_charge</div>
  </div>

   <div class='form-group col-md-4'>
    <%= f.label :total_payable %>
    <%= f.text_field :total_payable, class: 'form-control', id: 'total-payable', readonly: true %>
    <div class="invalid-feedback">total_payable</div>
  </div>
</div>

<div class=row> 
  <div class='form-group col-md-6'>
    <%= f.label :paid_amount %>
    <%= f.text_field :paid_amount, class: 'form-control', id: 'paid-amount', type: 'number'  %>
    <div class="invalid-feedback">paid_amount</div>
  </div>

  <div class='form-group col-md-6'>
    <%= f.label :balance_amount %>
    <%= f.text_field :balance_amount, class: 'form-control', id: 'balance-amount', readonly: true  %>
    <div class="invalid-feedback">balance_amount</div>
  </div>
</div>

<div class='form-group'>
  <%= f.label :issued_at %>
  <%= f.date_field :issued_at, class: 'form-control' %>
  <div class="invalid-feedback">issued_at</div>
</div>

<% if action_name == 'edit' %>
  <%= f.fields_for :worker_entries do |worker_entry, i| %>
    <div class='row bg-light'>
      <div class='form-group col-md-6'>
        <%= worker_entry.collection_select(:worker_id, Worker.all, :id, :name, {},{ class: 'form-control'}) %>
        <div class="invalid-feedback">worker</div>
      </div>

      <div class='form-group col-md-6'>
        <%= worker_entry.text_field :worked_hours, class: 'form-control', placeholder: 'worked hours' %>
      </div>
    </div>
    <hr/>
  <% end %>
<% else %>
  <span class="badge badge-pill badge-success">Workers</span>
  <a href="javascript:;" id="addNewWorker">Add New Worker</a>
  <div id='worker-fields'>
    <div id='worker-field'>
      <%= render "worker_form_fields", f: f %>
    </div>
  </div>
<% end %>
