<div class='row bg-light'>
  <div class='form-group col-md-6'>
    <%= select_tag "workers[]", options_from_collection_for_select(Worker.all, "id", "name"), class: 'form-control' %>
  </div>

  <div class='form-group col-md-6'>
    <%= text_field_tag 'worked_hours[]', nil, class: 'form-control', placeholder: 'worked hours' %>
  </div>
</div>
<hr/>
