<% provide(:title, "Create Bill") %>
<div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
  <span class="anchor" id="formLogin"></span>
  <!-- form card login with validation feedback -->
  <div class="card card-outline-secondary">

      <div class="card-header">
          <h3 class="mb-0"> Edit bill</h3>
      </div>
      <div class="card-body">
          <% if @bill.errors.any? %>
            <div class= "alert alert-danger">
              <%= @bill.errors.full_messages.first %>
            </div>
          <% end %>
          <%= form_for @bill do |f| %>
            
            <%= render "form_fields", f: f %>

            <%= f.submit "Update", class: "btn btn-success btn-lg float-right" %>

            <%= link_to "Cancel", bills_path, class: "btn btn-danger btn-lg float-left nav-link" %>

          <% end %>
      </div>
      <!--/card-body-->
  </div>
  <!-- /form card login -->
</div>