<div class="jumbotron bg-light jumbotron-fluid text-center">
  <h3>Bills</h3>
</div>
<div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">
  <% @bills.each_with_index do |bill, i| %>
    <%= link_to 'Edit', edit_bill_path(bill), class: 'btn btn-outline-success btn-sm' %>
    <%= link_to 'Delete', bill_path(bill), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },
                         class: 'btn btn-outline-danger btn-sm' %>

    <button class="Accordion" role="tab" aria-selected="false"><%= bill.number + " - "+bill.title %></button>
    
    <div class="Rtable-cell  Rtable-cell--head"><h3>Project Name : <%= bill.project.name %></h3></div>
    <div class="Rtable-cell"><h3>Client Name : <%= bill.client.name %></h3></div>
    <div class="Rtable-cell"><h3>Labour Charge : <%= bill.labour_charge %></h3></div>
    <div class="Rtable-cell"><h3>Material Charge : <%= bill.material_charge %></h3></div>
    <div class="Rtable-cell"><h3>Total Payable : <%= bill.total_payable %></h3></div>
    <div class="Rtable-cell"><h3>Paid Amount: <%= bill.paid_amount %></h3></div>
    <div class="Rtable-cell"><h3>Balance Amount: <%= bill.balance_amount %></h3></div>
    <div class="Rtable-cell"><h3>Issued On: <%= bill.issued_at %></h3></div>

    <div class="Rtable-cell">
      <% if bill.worker_entries.any? %>
        <span class="badge badge-pill badge-success">Workers</span>
        <% bill.worker_entries.each_with_index do |entry, i| %>
          <h3> <%= entry.worker.name %> - <%= entry.worked_hours || 0 %> hrs</h3>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>