<div class="jumbotron bg-light jumbotron-fluid text-center">
  <h3>Projects</h3>
</div>
<div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">
  <% @projects.each_with_index do |project, i| %>
    <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-outline-success btn-sm' %>
    <%= link_to 'Delete', project_path(project), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },
                         class: 'btn btn-outline-danger btn-sm' %>
    <%= link_to 'View Bills', project_bills_path(project), class: 'btn btn-outline-success btn-sm' %>
    <button class="Accordion" role="tab" aria-selected="false"><%= project.name %></button>
    <div class="Rtable-cell  Rtable-cell--head"><h3>There is no more more info about <%= project.name %> project</h3></div>
  <% end %>
</div>