<div class="jumbotron bg-light jumbotron-fluid text-center">
  <h3>Workers</h3>
</div>
<div class="Rtable Rtable--4cols Rtable--collapse js-RtableAccordions">
  <% @workers.each_with_index do |worker, i| %>
    <%= link_to 'Edit', edit_worker_path(worker), class: 'btn btn-outline-success btn-sm' %>
    <%= link_to 'Delete', worker_path(worker), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' },
                         class: 'btn btn-outline-danger btn-sm' %> 
    
    <button class="Accordion" role="tab" aria-selected="false"><%= worker.name %></button>
    <div class="Rtable-cell  Rtable-cell--head"><h3><%= worker.try(:phone) %></h3></div>
    <p class="Rtable-cell"><%= worker.try(:address) %></p>
    <div class="Rtable-cell">Dialy Wage: <%= worker.try(:daily_wage) %></div>
    <div class="Rtable-cell  Rtable-cell--foot">Overtime Amount: <%= worker.try(:overtime_amount) %></div>
  <% end %>
</div>