/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


/* Variables
================================== */
$bw: 3px;  // border width
$breakpoint: 2000px;



/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border-left: solid $bw white;
  background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

/* Table column sizing
================================== */
// .Rtable--2cols > .Rtable-cell  { width: 50%; }
// .Rtable--3cols > .Rtable-cell  { width: 33.33%; }
// .Rtable--4cols > .Rtable-cell  { width: 25%; }
// .Rtable--5cols > .Rtable-cell  { width: 20%; }
// .Rtable--6cols > .Rtable-cell  { width: 16.6%; }








/* Page styling
================================== */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
strong { color: darken(slategrey,20%); }


@media all and (max-width: $breakpoint) { 
    .hiddenSmall {display: none; }
  }
  
  
  /* Tab Styling
  ==================================== */
  $tabColour: darkcyan;
  
  .Tablist {
    display: flex;
    flex-direction: row;
    margin-left: -$bw;
    @media all and (min-width: $breakpoint) { display: none; }
  }
  .Tab {
    padding: 0.6em 1em;
    margin: 0 $bw $bw 0;
    text-align: center;
    background-color: $tabColour;
    border: solid $bw $tabColour;
    border-bottom-width: 0;
    border-radius: 0.5em 0.5em 0 0;
    font-weight: bold;
    color: darken($tabColour,20%);
    text-decoration: none;
    transition: background-color 0.1s;
    cursor: pointer;
    &:hover, &:focus {
      background-color: mix(white,$tabColour,10%);
      border-color: mix(white,$tabColour,10%);
      outline: none;
    }
    &[aria-selected="false"]:active {
      margin-top: 0.2em;
      padding-bottom: 0.4em;
    }
    &[aria-selected="true"] {
      background: mix(white,$tabColour,90%);
      cursor: default;
    }
  }
  
  
  /* Accordion Styling
  ==================================== */
  $accordionColour: darkcyan;
  $iconSize: 2em;
  
  .Accordion {
    position: relative; top: -$bw; left: -$bw; //compensate for border offset
    width: 100%;
    margin: 0 0 0.5em 0;
    padding: 0.6em 0.6em 0.6em ($iconSize);
    border-radius: 0.5em;
    text-align: left;
    border: solid $bw mix(black,$accordionColour,15%);
    background-color: $accordionColour;
    font-weight: bold;
    color: darken($accordionColour,20%);
    text-decoration: none;
    transition: background-color 0.1s;
    cursor: pointer;
    @media all and (min-width: $breakpoint) { display: none; }
    &:hover, &:focus {
      outline: none;
      filter: contrast(150%);
    }
    &[aria-selected="true"] {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;
      background: mix(white,$accordionColour,70%);
    }
    &:before {
      content: "+";
      position: absolute;
      top: 50%;
      left: 0.3em;
      margin-top: -($iconSize/1.75);
      font-weight: normal;
      font-size: $iconSize;
      line-height: $iconSize;
      background-size: $iconSize $iconSize;
    }
    &[aria-selected="true"]:before {
      content: "-";
    }
  }
  
  .js-RtableTabs, .js-RtableAccordions {
    min-width: 240px;
  }

  .jumbotron {
      padding: 20px;
  }
  